<h1>My Project Time Entries</h1>
<h2><%= @project.name %></h2>
<ul>
  <% @entries.each do |entry| %>
  <li>
    <%= entry.hours %> h &nbsp;&nbsp;
    <%= entry.minutes %> m - &nbsp;&nbsp;
    <%= entry.date %> &nbsp;&nbsp;
    <%= link_to "Edit", "/projects/#{@project.id}/time_entries/#{entry.id}/edit"%>&nbsp;&nbsp;
    <%= link_to('Delete', project_time_entry_path(@project,entry), method: :delete, data: {confirm:'Are you sure?'})%>
  </li>
  <% end %>
</ul>

<%= link_to "Back to Projects", '/projects' %>
<%= link_to "New Entry", "/projects/#{@project.id}/time_entries/new" %>
